<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div>
        <h4>Edit Comment</h4>
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
